{%extends 'base.html'%}
{% load static%}
{% load humanize %}
{% load blog_tags %}
{%block body%}

<!-- start banner Area -->
<section class="relative about-banner">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					{{posts.title}}
				</h1>
				<p class="text-white link-nav"><a href="{%url 'projectApp:index'%}">Home </a> <span
						class="lnr lnr-arrow-right"></span><a href="{% url 'blog:home'%}">Blog </a> <span
						class="lnr lnr-arrow-right"></span> <a href="{% url 'blog:single' pid=posts.id%}"> {{posts.title}}</a></p>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->

<!-- Start post-content Area -->
<section class="post-content-area single-post-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 posts-list">
				<div class="single-post row">
					<div class="col-lg-12">
						<div class="feature-img">
							<img class="img-fluid" src="{{posts.image.url}}" alt="">
						</div>
					</div>
					<div class="col-lg-3  col-md-3 meta-details">
						<ul class="tags">
							{% for cat in posts.category.all %}
							<li><a href="#">{{cat.name}}{%if not forloop.last%},{%endif%}</a></li>
							{% endfor %}
						</ul>
						<div class="user-details row">
							<p class="user-name col-lg-12 col-md-12 col-6"><a href="#">{{posts.author.username}}</a> <span
									class="lnr lnr-user"></span></p>
							<p class="date col-lg-12 col-md-12 col-6"><a href="#">{{posts.created_date|date:"d M Y"}}</a> <span
									class="lnr lnr-calendar-full"></span></p>
							<p class="view col-lg-12 col-md-12 col-6"><a href="#">{{posts.counted_views}}</a> <span
									class="lnr lnr-eye"></span></p>
							<p class="comments col-lg-12 col-md-12 col-6"><a href="#">{{comments|length}} Comments</a> <span
									class="lnr lnr-bubble"></span></p>
							<ul class="social-links col-lg-12 col-md-12 col-6">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-github"></i></a></li>
								<li><a href="#"><i class="fa fa-behance"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-9 col-md-9">
						<h3 class="mt-20 mb-20">{{pid}}</h3>
						<h2 class="excert">{{posts.title}}</h2>
						<p class="excert">
							{{posts.content|safe}}
						</p>
						
					</div>
					
				</div>
				<div class="navigation-area">
					
					<div class="row">
						<div
							class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
							{%if  list.0 != ''%}
							<div class="thumb">
								<a href="{% url 'blog:single' pid=list.0.id  %}"><img class="img-fluid" src="{{list.0.image.url}}" alt=""></a>
							</div>
							<div class="arrow">
								<a href="#"><span class="lnr text-white lnr-arrow-left"></span></a>
							</div>
							
								
							<div class="detials">
								<p>Prev Post</p>
								<a href="{% url 'blog:single' pid=list.0.id  %}">
									<h4>{{list.0.title}}</h4>
								</a>
							</div>

						 	{%endif%}

						</div>
						<div
							class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">

							{%if  list.1 != ''%}
							<div class="detials">
								<p>Next Post</p>
								<a href="{% url 'blog:single' pid=list.1.id  %}">
									<h4>{{list.1.title}}</h4>
								</a>
							</div>
							<div class="arrow">
								<a href="#"><span class="lnr text-white lnr-arrow-right"></span></a>
							</div>
							<div class="thumb">
								<a href="{% url 'blog:single' pid=list.1.id  %}"><img class="img-fluid" src="{{list.1.image.url}}" alt=""></a>
							</div>
							{%endif%}
						</div>
					</div>
					
				</div>
				
				{% include 'blog/blog-comment.html' %}
			</div>
			<div class="col-lg-4 sidebar-widgets">
				<div class="widget-wrap">
					<div class="single-sidebar-widget search-widget">
						<form class="search-form" action="#">
							<input placeholder="Search Posts" name="search" type="text" onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Search Posts'">
							<button type="submit"><i class="fa fa-search"></i></button>
						</form>
					</div>
					{% include 'blog/writer.html ' %}
					{% popular_Posts %}
					{% include 'blog/ads.html' %}
					{% categories %}
					<div class="single-sidebar-widget newsletter-widget">
						<h4 class="newsletter-title">Newsletter</h4>
						<p>
							Here, I focus on a range of items and features that we use in life without
							giving them a second thought.
						</p>
						<div class="form-group d-flex flex-row">
							<div class="col-autos">
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i>
										</div>
									</div>
									<input type="text" class="form-control" id="inlineFormInputGroup"
										placeholder="Enter email" onfocus="this.placeholder = ''"
										onblur="this.placeholder = 'Enter email'">
								</div>
							</div>
							<a href="#" class="bbtns">Subcribe</a>
						</div>
						<p class="text-bottom">
							You can unsubscribe at any time
							<br>
						</p>
					</div>
					{% include 'blog/blog-tags.html' %}
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End post-content Area -->

{%endblock%}